/* 全体 */
body {
    background-color: whitesmoke;
}

p {
    font-size: 150%;
}

/* 半分 */
.lay0 {
    position: absolute;
    width: 50%;
    height: 100%;
}

.right {
    left: 0%;
}

.left {
    right: 0%;
}


/* ファイル域 装飾 */
label {
    display: table;
    text-align: center;
    width: 99%;
    height: 120px;
    color: #ffffff;
    background-color: #a1b9ff;
    cursor: pointer;
}

label span {
    font-size: 150%;
    display: table-cell;
    vertical-align: middle;
}

/* アップロード域 ファイル非表示 */
input[type="file"] {
    display: none;
}

/* てきすとbox修正 */
input[type="text"] {
    font-size: 150%;
    width: 70%;
}

/* 詳細背景 */
iframe {
    width: 90%;
    height: 80%;
}

/* DLボタン */
.btn {
    background: #3498db;
    color: #ffffff;
    padding: 30px 40px;
}