body {
    background-color: #f0f8ff;
}

.list {
    --size: 150px;
}

.list>a {
    display: inline-block;
    width: var(--size);
    margin: 2px;
}

.list>a::before {
    content: "";
    display: block;
    height: var(--size);
    background: var(--col, #0000) no-repeat center/cover var(--img, url(img/nya-no.png));
}

h1 {
    color: turquoise;
}

hr {
    border-top: 1px solid #ccc;
    margin: 10px;
}

span{
    color:royalblue;
}

p{
    margin:auto;
}