body {
    background-color: #f0f8ff;
}

.list {
    --size: 150px;
}

.list>a {
    display: inline-block;
    width: var(--size);
    margin: 2px;
}

.list>a::before {
    content: "";
    display: block;
    height: var(--size);
    background: var(--col, #0000) no-repeat center/cover var(--img, url(img/nya-no.png));
}

h1 {
    color: turquoise;
}

hr {
    border-top: 1px solid #ccc;
    margin: 10px;
}

span {
    color: royalblue;
}

p {
    margin: auto;
}

.error {
    background-color: #e0dddd;
    border: 1px solid #afadad;
    margin: 0em 0em;
    padding: 1em;
    width: 25%;
}