#gnav{
    background-color: rgb(204, 204, 204);
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}
.inner{
    display: flex;
}
#gnav li{
    list-style: none;
    margin-left: 35px;
}