/* 全体 */
body {
    line-height: 25px;
    background-color: whitesmoke;
}

p {
    text-align: center;
}


/* アップロード域 関係 */
.uploader {
    position: relative;
    background-color: #b8deff;
    border: solid 1px #3470ff;
    margin: 0 auto;
    width: 60%;
    height: 30%;
}

/*100%x100%で覆って input 非表示*/
.uploader input {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
}

/* フォント管理 */
.up_sub {
    font-size: 1.5rem;
    position: absolute;
    top: 25%;
    left: 25%;
}


/* DLボタン iframe管理 */
.center {
    text-align: center;
}

/* 詳細背景 */
iframe {
    width: 80%;
    height: 60%;
}

/* DLボタン */
.btn {
    background: #3498db;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}